@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Vazirmatn:wght@300;400;500;600;700&display=swap');

:root {
  --qode-main-color: #EEFB13;
  --background-color: #e3e3df;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--background-color);
  font-family: 'Hind', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--background-color);
}

::-webkit-scrollbar-thumb {
  background: #000;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--qode-main-color);
}